.b-img1,.b-img2 {
    width: 1350px;
    height: 550px;
}
.p1 {
    font-family: Poppins,sans-serif;
    font-size: 20px;
   margin: 0;
   padding: 0;
   height: 30px;
}
.p2 {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 120px;
    padding: 0;
    margin: 0;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p3 {
    padding: 0;
    margin: 0;
    font-family: Poppins,sans-serif;
    font-size: 25px;
    height: 70px;
    color: grey;
}
.p4 {
    font-family: Poppins,sans-serif;
    font-size: 20px;
}
.content1 {
    position: absolute;
    top: 10%;
   height: 300px;
   left: 22%;
}
.btn {
    height: 40px;
    width: 150px;
    background-color: white;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}