.header1 {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
    font-family: sans-serif;
}
.img {
    height: 45px;
    width: 120px;
}
.header2 {
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    align-items: center;
    font-size: 13px;
    font-family: sans-serif;
}
.icon {
   font-size: 25px;
}